body {
    direction: rtl;
    text-align:right;
}
.displayImages {
    width: 250px;
    height: 250px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

h1{
    font-size:30px;
    text-align:center;
}

* {
    box-sizing: border-box;
}

.img-zoom-container {
    position: relative;
}

.img-zoom-lens {
    position: absolute;
    border: 1px solid #d4d4d4;
    /*set the size of the lens:*/
    width: 40px;
    height: 40px;
}

.img-zoom-result {
    border: 1px solid #d4d4d4;
    /*set the size of the result div:*/
    width: 300px;
    height: 300px;
    float:left;
}
.btn {
    background-color: #ffcad4;
    display: block;
    margin: auto;
    margin-bottom:20px;
}
.bg-dark {
    background-color:#f9dae0 !important;
    margin-bottom:40px;
}
.navbar-dark .navbar-nav .nav-link {
    color: #6f7275;
    font-weight:600;
}
h4{
    font-size:20px;
}
.description{
    width:35%;
}
h6{
    text-align:center;  
    height:70px;
}
button {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
